body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #efefef;
}

.App{
  min-height: 100vh;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.search-bar{
  width: 50%;
  border: 1px solid #666;
  height: 46px;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}

.search-button{
  border: 2px solid #666;
  height: 50px;
  background: #666;
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  padding: 60px;
}

.recipe__item{
  padding: 30px;
  background: rgba(255,255,255,0.75);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.recipe__item h2{
  margin-top: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.recipe__item img{
  width: 100%;
}